<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <%- include('nav') %>

    <main class="container">
        <input id="authority" type="hidden" data-authority="<%= authority %>">
        <header class="header">
            <div class="meta-data" data-tag="<%= post.tag %>"></div>
            <div class="header-title">
                <%= post.title %>
            </div>
            <div class="header-util">
                <a class="edit-btn" href="/edit/<%= post._id %>">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <button class="delete-btn">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>
        </header>

        <article class="content">
            <%- post.html %>
        </article>

        <!-- <section class="reply">
            <p>댓글</p>
            <form action="/reply" method="post">
                <input name="postId" type="hidden" value="<%= post._id %>">
                <input name="content" type="text" placeholder="댓글을 입력하세요">
                <button type="submit">전송</button>
            </form>
        </section> -->
    </main>

        <script type="module" src="/js/detail.js"></script>
        <script type="module" src="/js/nav.js"></script>
</body>

</html>